{% trans_default_domain 'AppBundle' %}

<div class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			<li class="list-group-item text-xs-center list-group-item-main">
				<h1>{{ 'competence.title'|trans }}</h1>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	{% for domaine in domaines %}
		<div class="col-sm-6">
			<ul class="list-group">

				<li class="list-group-item text-xs-center list-group-item-title">
					<b>{{ domaine.libelle|raw }}</b>
				</li>

				{% for competence in domaine.competences %}
					<li class="list-group-item text-xs-center">
						<p><b>{{ competence.libelle|raw }}</b></p>
						<progress class="progress progress-striped progress-success" value="{{ competence.niveau }}" max="100">
							<div class="progress progress-striped progress-success">
								<span class="progress-bar" style="width: {{ competence.niveau }}%;">{{ competence.niveau }}%</span>
							</div>
						</progress>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>