{% trans_default_domain 'AppBundle' %}

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item text-xs-center list-group-item-main">
                <h1>{{ 'experience.title'|trans }}</h1>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    {% for experience in experiences %}
    <div class="col-sm-6">
        <ul class="list-group">

            <li class="list-group-item text-xs-center list-group-item-title">
                <b>{{ experience.debut }}<br>{{ experience.fin }}</b>
            </li>

            <li class="list-group-item text-xs-center list-group-item-info">
                <b>{{ experience.poste }}</b>
            </li>

            <li class="list-group-item text-xs-center">
                <b>{{ experience.entreprise|raw }}</b>
            </li>

            {% for activite in experience.activites %}
                <li class="list-group-item">
                    {{ activite.libelle|raw }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>