{% trans_default_domain 'AppBundle' %}

<div class="row">
<div class="card card-main">

    <h5 class="card-header text-xs-center item-title">
        {{ 'formation.title'|trans }}
    </h5>

    <div class="card-block">
        {% for formation in formations %}

            {% if loop.index is not divisible by(2) %}
                <div class="row">
            {% endif %}

            <div class="col-sm-6">
                <div class="card card-submain">
                    <div class="card-header item-title">
                        <h6>
                            {{ formation.debut }} - {{ formation.fin }}
                        </h6>
                        <p class="card-text font-weight-bold">
                            {{ formation.intitule|raw }}<br>
                            {{ formation.ecole|raw }}
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if formation.validation %}
                        <li class="list-group-item">
                            {{ formation.validation|raw }}
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <b>Niveau</b>&nbsp;{{ formation.niveau|raw }}
                        </li>
                    </ul>
                </div>
            </div>

            {% if loop.index is divisible by(2) %}
                </div>
            {% endif %}

        {% endfor %}
    </div>
</div>
</div>