{% trans_default_domain 'AppBundle' %}

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item text-xs-center list-group-item-main">
                <h1>{{ 'formation.title'|trans }}</h1>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    {% for formation in formations %}
        <div class="col-sm-6">

            <ul class="list-group">

                <li class="list-group-item text-xs-center list-group-item-title">
                    <b>{{ formation.debut }}<br>{{ formation.fin }}</b>
                </li>

                <li class="list-group-item text-xs-center list-group-item-info">
                    <b>{{ formation.intitule|raw }}</b>
                </li>

                <li class="list-group-item text-xs-center">
                    {{ formation.ecole|raw }}
                </li>

                {% if formation.validation %}
                <li class="list-group-item text-xs-center">
                    {{ formation.validation|raw }}
                </li>
                {% endif %}

                <li class="list-group-item text-xs-center">
                    <b>Niveau</b>&nbsp;{{ formation.niveau|raw }}
                </li>
            </ul>

        </div>
    {% endfor %}
</div>