{% trans_default_domain 'AppBundle' %}

<div class="row" id="profil" style="margin-bottom: 6px;">
    <div class="col-sm-2">
        <a href="{{ path('index') }}">
            <img class="img-thumbnail" id="logo"
                 src="{{ prefix }}{{ asset('bundles/app/img/logo.png') }}"
                 style="width: 80px; height: 72px">
        </a>
    </div>
    <div class="col-sm-8">
        <h2 class="text-xs-center" style="padding-top: 14px;">
            Développeur Web
        </h2>

    </div>
    <div class="col-sm-2 font-weight-bold" style="padding-top: 8px;">
        {% if profil is not null %}
            {{ profil.prenom }} {{ profil.nom }}<br>
            {{ profil.age }}<br>
            {{ profil.permis }}<br>
            {{ profil.statut }}
        {% endif %}
    </div>

</div>