{% trans_default_domain 'AppBundle' %}

<ul class="list-group" id="experience">
    <li class="list-group-item text-xs-center list-group-item-title">
        <h1>{{ 'experience.title'|trans }}</h1>
    </li>
</ul>

<div class="row">
    {% for experience in experiences %}
    <div class="{% if false == pdf %}col-xs-12{% endif %} col-lg-3">
        <ul class="list-group">

            <li class="list-group-item text-xs-center list-group-item-title">
                <b>{{ experience.debut }}<br>{{ experience.fin }}</b>
            </li>

            <li class="list-group-item text-xs-center list-group-item-info">
                <b>{{ experience.poste }}</b>
            </li>

            <li class="list-group-item text-xs-center">
                <b>{{ experience.entreprise|raw }}</b>
            </li>

            {% for activite in experience.activites %}
                <li class="list-group-item">
                    {{ activite.libelle|raw }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>